.tl-wrap {
  pointer-events: none;
}

.tl-wrap.-out .tl-codeWrap {
  -webkit-animation: .5s tl-hide forwards;
  animation: .5s tl-hide forwards;
}

.tl-wrap.-out .tl-overlay,
.tl-wrap.-out .tl-overlayV,
.tl-wrap.-out .tl-overlayH {
  transition: opacity .3s;
  opacity: 0;
}

.tl-codeWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  padding: 4px !important;
  line-height: 1 !important;
  text-align: left !important;
  border: none !important;
  -webkit-animation: .4s tl-show forwards;
  animation: .4s tl-show forwards;
}

.tl-code {
  display: inline-block !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
  background: #e6e9f0 !important;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.12) !important;
  text-shadow: none !important;
  text-transform: none !important;
  border: none !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-align: left !important;
  font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
  padding: 5px 6px 4px !important;
  margin: 0 !important;
  border-radius: 3px !important;
}

.tl-code:before,
.tl-code:after {
  content: none;
}

.tl-code:empty {
  visibility: hidden;
}

.tl-overlay,
.tl-overlayV,
.tl-overlayH {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.tl-overlayV,
.tl-overlayH {
  background: rgba(0,0,0,0.01);
  box-sizing: border-box;
}

.tl-overlay {
  background: rgba(73, 187, 231, .25);
  border: 0 solid rgba(154, 87, 181,.3);
  box-sizing: content-box;
}

.tl-overlayV {
  right: 0;
  border-top: 1px dashed rgba(52,152,219,0.4);
  border-bottom: 1px dashed rgba(52,152,219,0.4);
}

.tl-overlayH {
  height: 100vh;
  border-left: 1px dashed rgba(52,152,219,0.4);
  border-right: 1px dashed rgba(52,152,219,0.4);
}

@-webkit-keyframes tl-show {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes tl-show {
  0% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes tl-hide {
  45% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes tl-hide {
  45% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-100%);
  }
}




/* http://prismjs.com/download.html?themes=prism&languages=markup+css */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.tl-codeWrap .token.comment,
.tl-codeWrap .token.prolog,
.tl-codeWrap .token.doctype,
.tl-codeWrap .token.cdata {
  color: #b9bec9;
}

.tl-codeWrap .token.punctuation {
  color: #999;
}

.tl-codeWrap .token.property,
.tl-codeWrap .token.tag,
.tl-codeWrap .token.boolean,
.tl-codeWrap .token.number,
.tl-codeWrap .token.constant,
.tl-codeWrap .token.symbol,
.tl-codeWrap .token.deleted {
  color: #99006f; /* element */
}

.tl-codeWrap .token.selector,
.tl-codeWrap .token.attr-name,
.tl-codeWrap .token.string,
.tl-codeWrap .token.char,
.tl-codeWrap .token.builtin,
.tl-codeWrap .token.inserted {
  color: #669900; /* attr name */
}

.tl-codeWrap .token.atrule,
.tl-codeWrap .token.attr-value,
.tl-codeWrap .token.keyword {
  color: #0077aa; /* attr value */
}

.tl-codeWrap .token.operator,
.tl-codeWrap .token.entity,
.tl-codeWrap .token.url,
.tl-codeWrap .language-css .token.string,
.tl-codeWrap .style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.tl-codeWrap .token.function {
  color: #DD4A68;
}

.tl-codeWrap .token.regex,
.tl-codeWrap .token.important,
.tl-codeWrap .token.variable {
  color: #e90;
}

.tl-codeWrap .token.important {
  font-weight: bold;
}

