.tl-loggerWrap {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10000;
  font-size: 13px !important;
  text-align: left !important;
  pointer-events: none;
  margin: 0 !important;
  padding: 4px 6px !important;
  border: none !important;
  -webkit-animation: .4s tl-show forwards;
  animation: .4s tl-show forwards;
}

.tl-loggerWrap:before,
.tl-loggerWrap:after {
  content: none;
}

.tl-loggerWrap.-out {
  -webkit-animation: 0.5s tl-hide forwards;
  animation: 0.5s tl-hide forwards;
}

.tl-loggerWrap code {
  display: inline-block !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
  background: rgba(245,242,240,0.95) !important;
  padding: 2px 5px 0 !important;
  box-shadow: 0 0 2px rgba(0,0,0,0.35) !important;
  text-shadow: none !important;
  text-transform: none !important;
  border: none !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 1 !important;
  font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
  padding: 5px 6px 4px !important;
  border-radius: 3px !important;
}

.tl-loggerWrap code:before,
.tl-loggerWrap code:after {
  content: none;
}

.tl-loggerWrap code:empty {
  visibility: hidden;
}

.tl-overlayWrap {
  pointer-events: none;
}

.tl-overlay,
.tl-overlayW,
.tl-overlayH {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.tl-overlay {
  background: rgba(52,152,219,0.08);
}

.tl-overlayW {
  right: 0;
  background: rgba(0,0,0,0.01);
  border-top: 1px dashed rgba(52,152,219,0.4);
  border-bottom: 1px dashed rgba(52,152,219,0.4);
}

.tl-overlayH {
  height: 100vh;
  background: rgba(0,0,0,0.01);
  border-left: 1px dashed rgba(52,152,219,0.4);
  border-right: 1px dashed rgba(52,152,219,0.4);
}

@keyframes tl-show {
  0% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes tl-show {
  0% {
    transform: translateY(-100%);
  }
}


@-webkit-keyframes tl-hide {
  45% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes tl-hide {
  45% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(-100%);
  }
}




/* http://prismjs.com/download.html?themes=prism&languages=markup+css */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.tl-loggerWrap .token.comment,
.tl-loggerWrap .token.prolog,
.tl-loggerWrap .token.doctype,
.tl-loggerWrap .token.cdata {
  color: slategray;
}

.tl-loggerWrap .token.punctuation {
  color: #999;
}

.tl-loggerWrap .namespace {
  opacity: .7;
}

.tl-loggerWrap .token.property,
.tl-loggerWrap .token.tag,
.tl-loggerWrap .token.boolean,
.tl-loggerWrap .token.number,
.tl-loggerWrap .token.constant,
.tl-loggerWrap .token.symbol,
.tl-loggerWrap .token.deleted {
  color: #905;
}

.tl-loggerWrap .token.selector,
.tl-loggerWrap .token.attr-name,
.tl-loggerWrap .token.string,
.tl-loggerWrap .token.char,
.tl-loggerWrap .token.builtin,
.tl-loggerWrap .token.inserted {
  color: #690;
}

.tl-loggerWrap .token.operator,
.tl-loggerWrap .token.entity,
.tl-loggerWrap .token.url,
.tl-loggerWrap .language-css .token.string,
.tl-loggerWrap .style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.tl-loggerWrap .token.atrule,
.tl-loggerWrap .token.attr-value,
.tl-loggerWrap .token.keyword {
  color: #07a;
}

.tl-loggerWrap .token.function {
  color: #DD4A68;
}

.tl-loggerWrap .token.regex,
.tl-loggerWrap .token.important,
.tl-loggerWrap .token.variable {
  color: #e90;
}

.tl-loggerWrap .token.important {
  font-weight: bold;
}

.tl-loggerWrap .token.entity {
  cursor: help;
}
